/*font for the website*/
*{
    font-family : 'Source Sans Pro',sans-serif;
}
/*setup of the background image as well as the specific dimensions*/
.background_image{
    background-image:url('images/headphones_hero_1.jpg');
    background-size:cover;
    width:1400px;
    height:1000px;
}

/*adjustments for the header*/
header {
    margin-top: 0px;
    height: 50px;
    width: 1000px; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
}

/*content inside the header*/
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;

}

nav img{
    width:160;
    height:33px;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-left: auto;
}

nav ul li {
    margin:0;
}

nav ul li a {
    text-decoration: none;
    color: white ;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
}

nav ul li a:hover {
    color: #ff6565;
    text-shadow: 0 0 25px #ff6565, 0 0 50px #ff6565;
    transform: scale(1.1);
    transition: 0.5s ease;
}

.main{
    color:#FFFFFF;
    text-align: center;
    margin-top: 400px;
}

.main h1{
    font-size: 32px;
    font-weight: bold;
    display:block; 
    margin-bottom: 5px;
}

.main h6{
    margin-top:0;
    font-size: 16px;
    font-weight: bold;
    display:block;
}

.main p{
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 2;
    font-weight: lighter;
}
/*code for the call to action button*/
.main button {
    margin: 20px auto 50px;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    color: #ffffff;
    background-color: #ff6565;
    display: block;
    text-align: center;
}

.main button:hover {
    opacity:0.9;
    text-shadow: 0 0 25px #ff6565, 0 0 50px #ff6565;
    transform: scale(1.1);
    transition: 0.5s ease;
}





